<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key="WaitTime" value="0"/>
    <add key="Timeout" value="1000"/>
    <add key="DeviceID" value="1,2,3,4,5,6"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>

  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=AAKGUNGOR\SQLEXPRESS;Initial Catalog=Sar_PersonelCI2;User ID=sa;Password=sa123"/>
  </connectionStrings>
  
</configuration>